@import './home.css'


/* .home-header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    text-align: center;
};
.home-main{
    background-color: #ebebeb;
    text-align: center;
}
.home-main-section-products{
    background-color: #ebebeb;
}
.home-footer{
    background-color: #ebebeb;
    text-align: center;
}
i.burger-menu{
    display: inline-block;
    margin-left: 100px;
}

div.logo img{
    padding-left: 10px;
    height: 10vh;
    width: 170px;
    display: inline-block;
    margin-bottom: 20px;
}
.titulares{
    font-size: 24px;
    color: #666;
}
.precio {
    font-size: 18px;
    margin: 5px;
}
.descuento{
    color: #39b54a;
}

.descripcion{
    font-size: 16px;
    color: #666;
}
.text{
    font-size: 12px;
    color: #666;
}

.articulos{
    text-align: center;
}

i{
    size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

nav.menu{
   align-items: center;
   color: #03264C;
}

img{
    height: 280px;
    width: 200px;
    margin: 20px;
}

li{
    list-style: none;
} */